.ideaListContainer {
  margin: 5%;
}

.title {
  margin-left: 20%;
  margin-top: 0px;
  font-size: 400%;
  color: #030027;
}

.lineOneContainer {
  display: flex;
  flex-direction: row;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0%;
  gap: 15%;
}

.dropdownDiv {
  margin-top: 4%;
}

.sortBy {
  margin-left: 4%;
  font-size: large;
  width: 120px;
}

#dept {
  width: 140px;
  height: 40px;
  font-size: medium;
}

.submitDiv {
  border-color: #030027;
  border-style: solid;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  color: #030027;
}

.submitIdea {
  width: 300px;
  font-size: xx-large;
  margin-left: 10%;
}

.submitDiv:hover {
  background-color: #151E3F;
  border-width: 2px;
  cursor: pointer;
  color:whitesmoke;
  border-color: whitesmoke;
}

#july {
  font-size: x-large;
  margin-bottom: 2%;
  color: #030027;
}

.bonDiv {
  margin-top: 3%;
  width: 200px;
}

.thousand {
  font-size: xx-large;
  font-weight: 700;
  color: #030027;
}

.listDiv {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 8%;
}

.listItem {
  margin-top: 4%;
  margin-bottom: 2%;
  background-color: #151E3F;
  border-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  color: whitesmoke;
  padding: 3.5%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  font-size: large;
}

.descriptionDiv {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  gap: 6%;

}

.author, .subject, .department {
  margin-bottom: 1.5%;
  text-decoration: underline;
}

.voteDiv {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.bootstrap {
  cursor: pointer;
}

.votes {
  text-decoration: underline;
  width: 80px;
  margin-left: 1%;
}

.bi-arrow-up-square:hover {
  background-color: goldenrod;
}

